.body {
    min-width: 100vw;
    min-height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.top-container {
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.left-container {
    width: 100%;
    min-height: 100%;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 3em;
    color: #707070;
    padding: 0% 10%;
}

.paragraph {
    font-size: 1.6em;
    color: #707070;
    padding: 0% 10%;
}

.right-container {
    width: 100%;
    min-height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.infographic {
    width: 27em;
}

.bottom-container {
    position: fixed;
    bottom: 0;
    margin: 1% 0%;
    width: 100%;
    text-align: center;
}

@media screen and (orientation: portrait) {
    .body {
        display: flex;
        flex-direction: column;
        justify-content: start;
        color: red;
    }

    .top-container {
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    .left-container {}

    .right-container {
        height: auto;
    }

    .infographic {
        width: 20em;
    }
}